RepasoExamen/Actividad_2/DTD_Actividad12.dtd

<!DOCTYPE vivero [
        <!ELEMENT vivero (especie+)>
        <!ELEMENT especie (nombre, precio, variedad, origen, color_fruto+, otros_datos)>
        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT precio (#PCDATA)>
        <!ELEMENT variedad (#PCDATA)>
        <!ELEMENT origen (#PCDATA)>
        <!ELEMENT color_fruto (#PCDATA)>
        <!ELEMENT otros_datos (maduracion, riego)>
        <!ELEMENT maduracion (#PCDATA)>
        <!ELEMENT riego (#PCDATA)>
        ]>